<h1>{{title}}</h1>
<p>Welcome to {{ title }}</p>
<p>Cool stuff about Uncopyright here</p>
<p>There are <b>{{ projectCount }}</b> projects currently live</p>
<a href="/projects">See Current Projects</a>
