/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
@import 'https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Work+Sans:700';
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

b, strong, .strong {
  font-weight: bold; }

dfn, em, .em {
  font-style: italic; }

small, .small {
  font-size: 75%; }

ul, ol {
  padding: 0;
  list-style-type: none; }

dd {
  margin: 0; }

.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none; }

/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/*********************
TOOLS
*********************/
/*
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
*/
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* Uncopyright Colors */
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
.theme-font {
  font-family: "Work Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

.alt-font {
  font-family: "Crimson Text", Cambria, Times New Roman, Times, serif;
  font-weight: 400; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/*********************
ROUNDED CORNERS
*********************/
/*********************
BOX SHADOW
*********************/
.shadow {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12); }

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************

Stylesheet: Base Mobile Stylesheet

Loaded on all devices

******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dccac0+0,ffffff+75 */
  background: #dccac0;
  /* Old browsers */
  background: -moz-linear-gradient(-10deg, #dccac0 0%, #ffffff 75%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-10deg, #dccac0 0%, #ffffff 75%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(170deg, #dccac0 0%, #ffffff 75%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dccac0', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat; }

::selection {
  background: #dbb196;
  color: #fff; }

::-moz-selection {
  background: #dbb196;
  color: #fff; }

a {
  cursor: pointer; }

.mobileHide, .show1240 {
  display: none; }

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.wrap {
  max-width: 1140px;
  width: 92%;
  margin: 0 auto; }

/*********************
NAVIGATION STYLES
*********************/
.mdl-layout__title {
  text-indent: -9999px;
  background-image: url(../images/nav--uncopyright-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 200px;
  height: 49px;
  margin: 14px auto 4px; }

.mdl-layout__drawer-button {
  border: 3px solid #c1784a;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  line-height: 54px;
  background: #fff; }
  .mdl-layout__drawer-button i {
    color: #c1784a; }

.mdl-navigation .mdl-navigation__link {
  font-family: "Work Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .004em;
  color: #72716d; }

mdl-navigation
.content-page {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 4% 8%; }

/*********************
/PROJECTS STYLES
*********************/
.typeform-share {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: #c1784a !important;
  color: #fff; }
  .typeform-share:hover {
    background: #c8865d; }

.work {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: space-between;
  align-content: space-between; }
  .work .mdl-card__media {
    background: #dccac0;
    border: 4px solid #dccac0;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    .work .mdl-card__media img.profile-image {
      width: 100%;
      height: auto;
      border-radius: 100px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
  .work .work--icon {
    align-items: center;
    justify-content: center;
    display: flex;
    background: #dccac0;
    background-color: #dccac0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cfb7a9), to(#dccac0));
    background-image: -webkit-linear-gradient(top, #cfb7a9, #dccac0);
    background-image: -moz-linear-gradient(top, #cfb7a9, #dccac0);
    background-image: -o-linear-gradient(top, #cfb7a9, #dccac0);
    background-image: linear-gradient(to bottom, #cfb7a9, #dccac0);
    text-align: center;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px; }
    .work .work--icon i {
      color: #fff;
      font-size: 60px;
      text-shadow: 0 1px 1px #caae9f;
      /* Modifying typical MDL icon usage to accomodate classes */
      /* Gets the icons for each class */ }
      .work .work--icon i:before {
        content: "help";
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased; }
      .work .work--icon i.images:before {
        content: "image"; }
      .work .work--icon i.writing:before {
        content: "keyboard"; }
      .work .work--icon i.video:before {
        content: "videocam"; }
      .work .work--icon i.music:before {
        content: "music_note"; }
  .work .mdl-card__title-text {
    color: #72716d; }
    .work .mdl-card__title-text em {
      font-family: "Crimson Text", Cambria, Times New Roman, Times, serif;
      opacity: .7; }
  .work .mdl-card__supporting-text {
    font-size: 16px;
    line-height: 1.3;
    color: #72716d; }
    .work .mdl-card__supporting-text::first-letter {
      text-transform: uppercase; }
  .work .mdl-card__actions {
    background: #f7f3f1;
    display: flex;
    justify-content: space-between; }
    .work .mdl-card__actions .mdl-button {
      color: #72716d; }
      .work .mdl-card__actions .mdl-button:hover {
        background: #dccac0;
        color: #fff; }
  .work .mdl-menu {
    font-family: "Work Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #caae9f;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }

/******************************************************************

Stylesheet: Typography

******************************************************************/
body {
  font-family: "Crimson Text", Cambria, Times New Roman, Times, serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5;
  color: #393431; }

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp, i.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
  font-weight: 100; }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Work Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #72716d;
  text-rendering: optimizelegibility;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */ }
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
    text-decoration: none; }

h1, .h1 {
  font-size: 3em;
  line-height: 1.2; }

h2, .h2 {
  font-size: 2.6em;
  line-height: 1.2;
  margin-bottom: 0.375em; }

h3, .h3 {
  font-size: 2.1em;
  line-height: 1.2;
  margin-bottom: 0.5em; }

h4, .h4 {
  font-size: 1.8em; }

h5, .h5 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px; }

p {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -.004em;
  margin-top: 21px; }

@media only screen and (min-width: 840px) {
  p {
    font-size: 21px;
    line-height: 1.57;
    letter-spacing: -.003em;
    margin-top: 29px; } }

@media only screen and (min-width: 480px) {
  /******************************************************************

Stylesheet: Big Phones / Phablets

Still 4 Columns with MDL

******************************************************************/ }

@media only screen and (min-width: 600px) {
  /******************************************************************

Stylesheet: Small Tablets

6 Columns with MDL

******************************************************************/ }

@media only screen and (min-width: 840px) {
  /******************************************************************

Stylesheet: Big Tablets, Small Laptops

12 Columns with MDL

******************************************************************/
  .mdl-layout__header {
    background-color: #3293ab; }
    .mdl-layout__header .mdl-navigation__link {
      color: #fff; } }

@media only screen and (min-width: 1280px) {
  /******************************************************************

Stylesheet: Desktop

12 Columns with MDL

******************************************************************/ }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************

Stylesheet: Retina Displays

******************************************************************/
  /*********************
NAVIGATION STYLES
*********************/
  .mdl-layout__title {
    background-image: url(../images/nav--uncopyright-logo@2x.png); } }

@media print {
  /******************************************************************

Stylesheet: Print Stylesheet

******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
