/******************************************************************

Stylesheet: Retina Displays

******************************************************************/

/*********************
NAVIGATION STYLES
*********************/
.mdl-layout__title {
	background-image:url(../images/nav--uncopyright-logo@2x.png);
}

/*********************
HOME STYLES
*********************/

.welcome .welcome__content .welcome__title {
		background-image:url(../images/welcome--logo@2x.png);
}
