/******************************************************************

Stylesheet: Typography

******************************************************************/

body {
	font-family: $serif;
  	font-weight:300;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp, i.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
  font-weight:100;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $theme-font;
  	font-weight:700;
	color:$slate;
	text-rendering: optimizelegibility;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 3em;
	line-height:1.2;
}

h2, .h2 {
	font-size: 2.6em;
	line-height:1.2;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 2.1em;
	line-height:1.2;
	margin-bottom:0.5em;
}

h4, .h4 {
	font-size: 1.8em;
}

h5, .h5 {
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

p {
	font-size:18px;
	line-height:1.5;
	letter-spacing:-.004em;
	margin-top:21px;
}
