<p>Show page</p>

<div>
    <p>{{project.firstName}} {{ project.lastName }}, <a href="{{ project.url }}">Project Page</a> - Categories: {{ project.categories }}</p>
</div>

<a href="/projects">Back</a>
